.app-title {
  font-family: 'Great Vibes', cursive;
  text-align: left;
  font-size: 25px;
  height: 44px;
}
app-login {
  background-color: rgb(250, 131, 13);
}
.ion-page {
  background-color: rgb(250, 131, 13);
}
