.router-link-active {
  color: rgb(149, 114, 79);
}
.ion-top-tab-bar {
  padding-left: 15%;
}
.app-title {
  font-family: 'Great Vibes', cursive;
  text-align: left;
  font-size: 30px;
  height: 44px;
}
ion-toolbar {
  border: none;
}
