<ion-app>
  <ion-header class="header">
    <ion-toolbar color="primary" class="app-title">
      Homy
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <br />
    <br />
    <ion-card-subtitle class="card-title">Login</ion-card-subtitle>
    <ion-progress-bar value="1" class="bar" color="dark"></ion-progress-bar>

    <!-- Form form Angular Material -->
    <form class="example-form">
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field> -->
    </form>
  </ion-card>
</ion-app>