<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Homy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ooops!</ion-card-subtitle>
      <ion-card-title>Under Construction</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The page you're trying to load is under construction. Keep cool and it'll
      be brought to focus very soon.
    </ion-card-content>
  </ion-card>
</ion-content>
